<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue App</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app" class="wrapper">

        <header>
            <h1>Get exotic pets here!</h1>
            <nav>
                <a href="index.html">HOME</a>
                <a href="applications.html">APPLICATIONS</a>
            </nav>
            <input type="text" placeholder="Search..." v-model="search">
            <div v-on:click="resetSearch()" id="reset">x</div>
        </header>

        <main class="thepets">
            <div class="row-head">
                <div>Name</div>
                <div>Species</div>
                <div>Breed</div>
                <div>
                    Age
                    <span @click="sortAge()">&and;</span>
                    <span @click="sortAge()">&or;</span>
                </div>
                <div>Gender</div>
            </div>

            <div v-for="pet in filteredPets" class="row-body" 
                v-if="search.length > 0 && filteredPets.length > 0">
                <div>{{pet.name}}</div>
                <div>{{pet.species}}</div>
                <div>{{pet.breed}}</div>
                <div>{{pet.age}}</div>
                <div>{{pet.gender}}</div>
            </div>

            <div class="search-container">
                <div class="pet-thumbnail" v-for="(pet,index) in pets" v-else>
                    <div class="pet-background"></div>
                    <div class="pet-stats">
                        <div class="pet-name">{{pet.name}}</div>
                        <div>{{pet.species}}</div>
                        <div>{{pet.breed}}</div>
                        <div>{{pet.age}}</div>
                        <!-- <button @click="deletePet(pet)">Delete</button> -->
                        <button @click="petApplication(pet)">Apply</button>
                    </div>
                </div>
            </div>

            <div class="app-form">
                <form @submit.prevent="petApplication(pet)">
                    <label>
                        <span>Applicant Name</span>
                        <input type="text" v-model="newApplicant.name">
                    </label>

                    <label>
                        <span>Applicant Phone Number</span>
                        <input type="text" v-model="newApplicant.phoneNumber">
                    </label>

                    <label>   
                        <span>Applicant Email</span>
                        <input type="text" v-model="newApplicant.email">
                    </label>
                    <button v-on:click="submitApp()">Submit</button>
                </form>
            </div>

            <div class="add-form">
                <form @submit.prevent="addPet()">
                    <label>
                        <span>Pet Name</span>
                        <input type="text" v-model="newPet.name">
                    </label>

                    <label>
                        <span>Pet Species</span>
                        <input type="text" v-model="newPet.species">
                    </label>

                    <label>
                        <span>Pet Breed</span>
                        <input type="text" v-model="newPet.breed">
                    </label>

                    <label>
                        <span>Pet Age</span>
                        <input type="text" v-model="newPet.age">
                    </label>

                    <label>
                        <span>Pet Gender</span>
                        <input type="text" v-model="newPet.gender">
                    </label>
                    <button v-on:click="submitPet()">Submit</button>
                </form>
            </div>

        </main>

    </div>
    <script src="app.js"></script>
</body>

</html>