* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efeef1;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(13, minmax(0, 1fr));
    grid-auto-rows: auto;
    gap: 16px;
}

header {
    grid-column: 2/-2;
    grid-row: 1/2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 16px;
}

input {
    background-color: white;
}

main {
    grid-column: 2/-2;
    grid-row: 2/3;
    margin: 0 16px 0 16px;
}

.row-head {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.pet-background {
    background-image: url("https://images.pexels.com/photos/16652367/pexels-photo-16652367/free-photo-of-cute-dog-with-collar-on-leash-in-park.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    width: 200px;
    height: auto;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: contain ;
}

.pet-container {
    display: flex;
    flex-flow: row wrap;
}