* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efeef1;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(13, minmax(0, 1fr));
    grid-auto-rows: auto;
    gap: 16px;
}

header {
    grid-column: 2/-2;
    grid-row: 1/2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 16px;
}

input {
    background-color: white;
}

main {
    grid-column: 2/-2;
    grid-row: 2/3;
    margin: 0 16px 0 16px;
}

.pet-background {
    background-image: url("https://www.pexels.com/photo/cute-dog-with-collar-on-leash-in-park-16652367/");
    min-width: 300px;
    min-height: 500px;
}

.row-head {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}